<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>192029205621-j8s26bi1qju4pc033h01pf3guqh8er9n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.192029205621-j8s26bi1qju4pc033h01pf3guqh8er9n</string>
	<key>API_KEY</key>
	<string>AIzaSyA9rwKoiPd9cj3AJoEc50F_QXG-5-Tqoh8</string>
	<key>GCM_SENDER_ID</key>
	<string>192029205621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eDoctor</string>
	<key>PROJECT_ID</key>
	<string>edoctor-51932</string>
	<key>STORAGE_BUCKET</key>
	<string>edoctor-51932.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:192029205621:ios:e80545114bb1486572843c</string>
</dict>
</plist>